{% extends "base.html" %}

{% block title %}Documents{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/documents.css">
{% endblock %}

{% block content %}
<!-- En-tête de la page documents -->
<div class="documents-header">
  <h1>Mes documents</h1>
</div>

<!-- Contenu principal : liste des documents -->
<div class="documents-content">
  <ul id="document-list">
    <li><a href="../static/docs/doc1.pdf">Planning Phase 1</a></li>
    <li><a href="../static/docs/rapport_audit.pdf">Rapport d’Audit</a></li>
  </ul>
</div>
{% endblock %}

{% block extra_js %}
<script src="../static/js/documents.js"></script>
{% endblock %}
