{% extends "base.html" %}

{% block title %}Erreur {{ code }} - PolyBase{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../static/css/error.css">
{% endblock %}

{% block content %}
<div class="error-container">
  <div class="error-code">{{ code }}</div>
  <div class="error-message">{{ message }}</div>
  <div class="error-hint">{{ hint }}</div>
  <a href="/dashboard" class="button">Retour au tableau de bord</a>
</div>
{% endblock %}

{% block extra_js %}
<script src="../static/js/error.js"></script>
{% endblock %}
