/* ----- Layout principal de la page agenda ----- */
.agenda-layout {
    display: flex;
    padding: 1em;
    gap: 1em;
}

/* ----- Colonnes latérales (gauche et droite) ----- */
.calendar-sidebar, .task-sidebar {
    width: 20%;
    background-color: #C06969;
    padding: 1em;
    border-radius: 5px;
    color: white;
}

/* ----- Colonne centrale (agenda hebdomadaire) ----- */
.calendar-main {
    flex: 1;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #AA3939;
}
