# ----- FastAPI Framework -----
fastapi~=0.115.13
uvicorn[standard]~=0.29.0
Jinja2~=3.1.3
python-multipart~=0.0.6

# ----- ORM & Database -----
SQLAlchemy~=2.0.41
pymysql~=1.1.0
cryptography~=42.0.0

# ----- Data Validation & Environment -----
pydantic~=2.11.7
python-dotenv~=1.0.1

# ----- Authentication (JWT) -----
python-jose[cryptography]~=3.3.0
passlib[bcrypt]~=1.7.4

# ----- Fuzzy Matching / Recherche avancée -----
python-Levenshtein~=0.25.1

# ----- Testing (optional) -----
httpx~=0.27.0
pytest~=8.2.1
